.navbar{
    background-color:var(--primary-color);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    font-size: 1.4rem;
    width: 100%;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
}
.logo span{
    font-weight: 300;
    color: black;
}
.nav-item{
    margin: 0 10px;
  top:0;
  padding-bottom: 2px;

}
.links a{
    margin: 0 5px;
    font-size: 0.95em;
  }