.reviews-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.reviews-section h2 {
    font-size: 2.5em;
    color: #444;
    margin-bottom: 40px;
    font-weight: bold;
}

.review {
    width: 100%;
    margin: 0 auto 30px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #000;
}
/* .carousel-indicators{
    border-bottom: none;

} */
.review-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    float: left;
}

.review h3 {
    margin-top: 0;
    font-size: 1.8em;
    color: #333;
    clear: both;
}

.review p {
    font-size: 1.1em;
    color: #555;
    margin: 15px 0;
}

.review .rating {
    font-size: 1.4em;
    color: #ffcc00;
    margin: 15px 0;
}

.review .author {
    margin-top: 15px;
    font-size: 1em;
    color: #888;
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 30px;
}